<% layout('layout') -%>

<body ng-controller='DashboardController' ng-init='init()'>

    <div class='row'>
        <!-- MAIN DASHBOARD -->
        <div class="col-xs-12 col-md-8">

            <div class='row'>
                <!-- DEVICES -->
                <div class="col-xs-6 col-md-6">
                    <a class='dashboard_box' href='/device'>
                        <img src='images/appliance.png' />
                        <p>Devices</p>
                    </a>
                </div>
                <!-- ENERGY -->
                <div class="col-xs-6 col-md-6">
                    <a class='dashboard_box' href='/energy'>
                        <img src='images/bolt.png' />
                        <p>Energy</p>
                    </a>
                </div>
            </div>

            <div class='row'>
                <!-- SCENES -->
                <div class="col-xs-6 col-md-6">
                    <a class='dashboard_box' href='/scene'>
                        <img src='images/scene.png' />
                        <p>Scenarios</p>
                    </a>
                </div>
                <!-- SETTINGS -->
                <div class="col-xs-6 col-md-6">
                    <a class='dashboard_box' href='/settings'>
                        <img src='images/settings.png' />
                        <p>Settings</p>
                    </a>
                </div>
            </div>

        </div>
        <!-- END MAIN DASHBOARD -->

        <!-- SIDE DASHBOARD -->
        <div class="col-xs-12 col-md-4">
            <a class='dashboard_box info'>

                <p>Temperature:</p>
                <p class='value'>{{temperature}}°C</p>

                <div class='sep'></div>

                <p>Current Energy Consumption:</p>
                <p class='value'>{{consumption}}w</p>

                <div class='sep'></div>

                <p># of Appliances on:</p>
                <p class='value'>{{on_appliances}}</p>
            </a>
        </div>
        <!-- END SIDE DASHBOARD -->
        
        <!-- MODAL -->
        <button id='move-modal-btn' style="display:none;visibility:hidden;" class="btn btn-sm btn-default" data-toggle="modal"
        data-target=".move-modal" type="button"></button>
        <div class="modal fade move-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4>{{move_message}}</h4>
              </div>
              <div class="modal-body">
                <img src='images/presencesensor.png'/>
              </div>
            </div>
          </div>
        </div> 
        <script>
            $(function() {
                $('.move-modal').on('shown.bs.modal', function() {
                    window.setTimeout(function(){
                        $('.move-modal').modal('hide');
                   }, 2000);
                });
            });
        </script>
        <!-- END MODAL -->

    </div>
</body>
