<% layout('layout') -%>

<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<body ng-controller='DeviceController' ng-init='init()'>


    <!-- EACH DEVICE -->
    <a ng-if="!devices || devices.length == 0" class='device_box'>
        <p>No devices found.</p>
    </a>
    <a ng-repeat="device in devices | orderBy:type" href='#' ng-click='changestate(device)' class='device_box'>
        <div class='row'>
            <div class="col-xs-5 col-md-3">
                <div class="icon {{device.state=='off' && 'inactive'}}">
                    <img ng-if="device.type == 'appliance'"
                            src='images/appliance.png'/>
                    <img ng-if="device.type == 'light'"
                            src='images/light.png'/>
                    <img ng-if="device.type == 'sensor'"
                            src='images/thermometer.png'/>
                    <!-- <img ng-if="device.type == 'presencesensor'"
                            src='images/presencesensor.png'/>-->
                </div>
            </div>
            <div class="col-xs-7 col-md-9">
                <div class='row'>
                    <!-- APPLIANCE || LIGHT-->
                    <div ng-if="device.type=='light' || device.type=='appliance'" class='device_content'>
                        <div class="col-xs-12 col-md-6">
                            <p class='device_name'>{{device.name}}</p>
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <p class='device_state'>{{device.state}}</p>
                        </div>
                        <div class="col-xs-8 col-md-4">
                            <p class='device_info'>{{device.consumption_current}}w</p>
                        </div>
                    </div>
                    <!-- THERMOMETER -->
                    <div ng-if="device.type == 'sensor'" class='device_content'>
                        <div class="col-xs-12 col-md-6">
                            <p class='device_name'>{{device.name}}</p>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <p class='device_info'>{{device.temperature}}°C</p>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <p class='device_info'>{{device.luminance}} lm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <!-- END EACH DEVICE-->
        
    <!-- MODAL -->
    <button id='move-modal-btn' style="display:none;visibility:hidden;" class="btn btn-sm btn-default" data-toggle="modal"
    data-target=".move-modal" type="button"></button>
    <div class="modal fade move-modal" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="false">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4>{{move_message}}</h4>
          </div>
          <div class="modal-body">
            <img src='images/presencesensor.png'/>
          </div>
        </div>
      </div>
    </div> 
    <script>
        $(function() {
            $('.move-modal').on('shown.bs.modal', function() {
                window.setTimeout(function(){
                    $('.move-modal').modal('hide');
               }, 2000);
            });
        });
    </script>
    <!-- END MODAL -->

</body>
