<!DOCTYPE html>
<html lang="en" ng-app="eazy_web">
    <head>
        <title>eaZy</title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/bootstrap/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/loading-bar.css">
        <!--STYLES END-->

        <script src="/js/angular/lib/angular.min.js"></script>
        <script src="/js/angular/lib/angular-animate.min.js"></script>
        <script src="/js/angular/lib/angular-cookies.min.js"></script>
        <script src="/js/angular/lib/angular-file-upload-shim.min.js"></script>
        <script src="/js/angular/lib/angular-file-upload.min.js"></script>
        <script src="/js/angular/lib/angular-loader.min.js"></script>
        <script src="/js/angular/lib/angular-messages.min.js"></script>
        <script src="/js/angular/lib/angular-mocks.js"></script>
        <script src="/js/angular/lib/angular-resource.min.js"></script>
        <script src="/js/angular/lib/angular-route.min.js"></script>
        <script src="/js/angular/lib/angular-sanitize.min.js"></script>
        <script src="/js/angular/lib/angular-scenario.js"></script>
        <script src="/js/angular/lib/angular-touch.min.js"></script>
        <script src="/js/angular/lib/angular.min.cookies.js"></script>
        <script src="/js/dependencies/loading-bar.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/angular/app.js"></script>
        <script src="/js/angular/socket_service.js"></script>
        <script src="/js/angular/DashboardController.js"></script>
        <script src="/js/angular/DeviceController.js"></script>
    </head>

    <body>

        <% include partials/header.ejs %>
        <div class="main container clearfix">
            <h1 class='breadcrumbs'><a class='breadcrumbs' href='/'>Home</a> > <%= page%></h1>
            <div class="content">
                <%- body %>
            </div>
        </div>

        <script src="/js/dependencies/jquery-2.1.1.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
    </body>
</html>
