<% layout('layout') -%>

<body ng-controller='SceneController' ng-init='init()'>


    <h1>My Scenes</h1>
    <br/>
    <a data-toggle="modal" data-target=".createSceneModal" href='#'>Create Scene <span class="glyphicon glyphicon-plus-sign"></span></a>
    <br/>
    <br/>

    <table class="table scene_table">
        <tr>
            <th>Source</th>
            <th></th>
            <th>Target</th>
            <th></th>
        </tr>
        <tr ng-repeat="scene in scenes">
            <td class='scene_block'>
                {{scene.source_device.name || scene.source_device.product_name}}
                <span class="glyphicon glyphicon-plus"></span>
                {{scene.source_attr}} ({{scene.source_value}})
            </td>
            <td class='scene_block'>
                <br/>
                <span class="glyphicon glyphicon-arrow-right"></span>
            </td>
            <td class='scene_block'>
                {{scene.target_device.name || scene.target_device.product_name}}
                <span class="glyphicon glyphicon-plus"></span>
               {{scene.target_state}}</td>
            <td>
                <br/>
                <a data-toggle="modal" data-target=".deleteSceneModal" href='#' ng-click='setSceneToDelete(scene)'>
                    Delete <span class="glyphicon glyphicon-minus-sign"></span>
                </a>
            </td>
        </tr>
        <tr ng-if="!scenes || scenes.length == 0">
            <td></td>
            <td>No scenes found.</td>
            <td></td>
        </tr>
    </table>

    <!-- CREATE SCENE MODAL -->
    <div class="modal fade createSceneModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Create Scene</h4>
                </div>
                <form role="form" class="form-horizontal" ng-submit="addScene(new_scene)">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><span class="badge">1</span>&nbsp;When device</label>
                            <select class="col-sm-5" ng-model="new_scene.source_device" data-ng-options="d.name group by d.type for d in devices">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><span class="badge">2</span>&nbsp;with capability</label>
                            <select class="col-sm-5" ng-model="new_scene.source_attr" data-ng-options="attr for attr in (new_scene.source_device | key_filter)" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><span class="badge">3</span>&nbsp;has the value:</label>
                            <input class="col-sm-5" type="text" name="source_value" ng-model="new_scene.source_value" placeholder="on | off" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><span class="badge">4</span>&nbsp;the device</label>
                            <select class="col-sm-5" ng-model="new_scene.target_device" data-ng-options="d.name group by d.type for d in devices" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><span class="badge">5</span>&nbsp;will turn</label>
                            <select class="col-sm-5" ng-model="new_scene.target_state" required>
                                <option>on</option>
                                <option>off</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <!-- END CREATE SCENE MODAL -->

    <!-- DELETE SCENE MODAL -->
    <div class="modal fade deleteSceneModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete the Scene "{{sceneToDelete.source_device.name || sceneToDelete.source_device.product_name}}"
                    <span class="glyphicon glyphicon-plus"></span>
                    "{{sceneToDelete.target_device.name || sceneToDelete.target_device.product_name}}"?
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                    <button class="btn btn-danger" ng-click="deleteScene(sceneToDelete)">Delete</button>
                </a>
            </td>
        </tr>
    </table>
    <!-- END DELETE SCENE MODAL -->

    <script>
        $(function() {
            $('.createSceneModal').on('shown.bs.modal', function() {
                $('#scene_name_field').focus();
            });
            closeCreateSceneModal = function() {
                $('.createSceneModal').modal('hide');
            };
            closeDeleteSceneModal = function() {
                $('.deleteSceneModal').modal('hide');
            };
        });
    </script>
</body>
