
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<body ng-controller='DashboardController' ng-init='init()'>
    <a href='/device'>
        <div class='dashboard_box'>
            <img src='images/appliance.png' />
            <p>Devices</p>
        </div>
    </a>
    <a href='/update'>
        <div class='dashboard_box'>
            <img src='images/update.png' />
            <p>Updates</p>
        </div>
    </a>
    <div class='clear'></div>
    <a href='/scene'>
        <div class='dashboard_box'>
            <img src='images/scene.png' />
            <p>Scenarios</p>
        </div>
    </a>
    <a href='/settings'>
        <div class='dashboard_box'>
            <img src='images/settings.png' />
            <p>Settings</p>
        </div>
    </a>
</body>
